<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>
    <settings>
        <!--驼峰规则-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--二级缓存-->
        <!--<setting name="cacheEnabled" value="true"/>-->
    </settings>

    <plugins>
        <!--设置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--参数合理化-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>