<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>小米商城</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="icon" href="./image/mi/favicon.ico" type="image/x-icon"/>
    <style>
        .selected {
            background-color: #83c44e;
        }

    </style>
</head>
<body>
<!-- start header -->
<header>
    <div class="top center" id="header">
        <div class="left fl">
            <ul>
                <li><a href="https://www.mi.com/shop" >小米商城</a></li>
                <li><a href="https://home.miui.com/">MIUI</a></li>
                <li><a href="//iot.mi.com">IoT</a></li>
                <li><a href="//i.mi.com/">云服务</a></li>
                <li><a href="//airstar.com/home">天星数科</a></li>
                <li><a href="//youpin.mi.com/">有品</a></li>
                <li><a href="//xiaoai.mi.com/">小爱开放平台</a></li>
                <li><a href="//www.mi.com/aptitude/list/?id=88">资质证照</a></li>
                <li><a href="//www.mi.com/aptitude/list/">协议规则</a></li>
                <div class="clear"></div> <!--清除浮动-->
            </ul>
        </div>
        <div class="right fr">
            <div class="gouwuche fr"><a href="">购物车</a></div>
            <div class="fr">
                <ul v-if="!userinfo">
                    <li><a href="./login.html">登录</a></li>
                    <li><a href="./register.html">注册</a></li>
                </ul>
                <ul v-if="userinfo">
                    <li><a href="./self_info.html">{{userinfo.userName}} 你好！</a></li>
                    <li><a href="./self_info.html">个人中心</a></li>
                    <li><a href="./dingdanzhongxin.html">我的订单</a></li>
                    <li><a href="prijie" @click.prevent="logout()">注销</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    <script src="./js/vue-2.4.0.js"></script>
    <script src="./js/axios.min.js"></script>
    <script>
        let headerVm = new Vue({
            el: "#header",
            data: {
                userinfo: ''
            },
            methods: {
                getUserInfo() {
                    axios.post(
                        'user/getUserInfo'
                    ).then(result => {
                        console.log(result.data)
                        if (result.data.code === 200) {
                            this.userinfo = result.data.obj;
                        }
                    });
                },
                logout() {
                    axios.post(
                        'user/logout'
                    ).then(result => {
                        console.log(result.data)
                        if (result.data.code === 200) {
                            window.location.href = "index.html";
                        }
                    });
                }
            },
            mounted: function () {
                this.getUserInfo();
            }
        });
    </script>

</header>
<!--end header -->

<!-- start banner_x -->
<div class="banner_x center">
    <a href="./index.html" >
        <div class="logo fl"></div>
    </a>
    <a href="">
        <div class="ad_top fl"></div>
    </a>
    <div class="nav fl">
        <ul>
            <li><a href="">小米手机</a></li>
            <li><a href="">红米</a></li>
            <li><a href="">平板·笔记本</a></li>
            <li><a href="">电视</a></li>
            <li><a href="">盒子·影音</a></li>
            <li><a href="">路由器</a></li>
            <li><a href="">智能硬件</a></li>
            <li><a href="">服务</a></li>
            <li><a href="">社区</a></li>
        </ul>
    </div>
    <div class="search fr">
        <form action="" method="post">
            <div class="text fl">
                <input type="text" class="shuru" placeholder="小米6&nbsp;小米MIX现货">
            </div>
            <div class="submit fl">
                <input type="submit" class="sousuo" value="搜索"/>
            </div>
            <div class="clear"></div>
        </form>
        <div class="clear"></div>
    </div>
</div>
<!-- end banner_x -->


<!-- xiangqing -->
<form action="post" method="">
    <div class="xiangqing">
        <div class="neirong w">
            <div class="xiaomi6 fl">小米6</div>
            <nav class="fr">
                <li><a href="">概述</a></li>
                <li>|</li>
                <li><a href="">变焦双摄</a></li>
                <li>|</li>
                <li><a href="">设计</a></li>
                <li>|</li>
                <li><a href="">参数</a></li>
                <li>|</li>
                <li><a href="">F码通道</a></li>
                <li>|</li>
                <li><a href="">用户评价</a></li>
                <div class="clear"></div>
            </nav>
            <div class="clear"></div>
        </div>
    </div>

    <div id="productDetails" class="jieshao mt20 w">
        <div class="left fl"><img :src="product.productImgPath"></div>
        <div class="right fr">
            <div class="h3 ml20 mt20">{{product.productName}}</div>
            <div class="jianjie mr40 ml20 mt10">
                {{product.productDescription}}
            </div>
            <div class="jiage ml20 mt10">{{productPrice}}元</div>
            <div class="ft20 ml20 mt20">选择版本</div>
            <div class="xzbb ml20 mt10">
                <div v-for="(item,index) in productConfig" :key="index"
                     class="banben fl"
                     @click="selectedConfigIndex = index"
                     :class="{ 'selected': selectedConfigIndex === index }">
                    <a>
                        <span>{{item.productConfig}}</span>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="ft20 ml20 mt20">选择颜色</div>
            <div class="xzbb ml20 mt10">
                <div v-for="(item,index) in productColor" :key="index"
                     class="banben fl"
                     @click="selectedColorIndex = index"
                     :class="{ 'selected': selectedColorIndex === index }">
                    <a>
                        <span :style="{ 'background-color': item.colorCode }" class="yuandian"></span>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="xqxq mt20 ml20">
                <div class="top1 mt10">
                    <div class="left1 fl">{{selectedProduct}}</div>
                    <div class="right1 fr">{{productPrice}}元</div>
                    <div class="clear"></div>
                </div>
                <div class="bot mt20 ft20 ftbc">总计：{{productPrice}}元</div>
            </div>
            <div class="xiadan ml20 mt20">
                <input @click="buyProduct()" class="jrgwc" type="button" name="jrgwc" value="立即选购"/>
                <input @click="addShoppingCart()" class="jrgwc" type="button" name="jrgwc" value="加入购物车"/>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</form>
<!-- footer -->
<footer class="mt20 center">

    <div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select
        Region
    </div>
    <div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div>
    <div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>

</footer>
</body>
</html>
<script src="./js/vue-2.4.0.js"></script>
<script src="./js/axios.min.js"></script>
<script>
    new Vue({
        el: "#productDetails",
        data: {
            userinfo:'',
            productId: '',
            product: '',
            productConfig: [],
            productColor: [],
            selectedConfigIndex: 0,
            selectedColorIndex: 0,
            productPrice: ''
        },
        methods: {
            getProduct() {
                this.productId = new URLSearchParams(window.location.search).get("productId");
                axios.post(
                    "product/getProuct",
                    `productId=${this.productId}`
                ).then(result => {
                    if (result.data.code === 200) {
                        this.product = result.data.obj;
                        this.productPrice = result.data.obj.productStratingPrice;
                        //改变title
                        document.title = this.product.productName;
                    }
                });
            },
            getProductConfig() {
                axios.post(
                    "product/getProuctConfig",
                    `productId=${this.productId}`
                ).then(result => {
                    if (result.data.code === 200) {
                        this.productConfig = result.data.list;
                    }
                });
            },
            getProductColor() {
                axios.post(
                    "product/getProuctColor",
                    `productId=${this.productId}`
                ).then(result => {
                    if (result.data.code === 200) {
                        this.productColor = result.data.list;
                        console.log(this.productColor)
                    }
                });
            },
            // 加入购物车
            addShoppingCart(){
                console.log(headerVm.userinfo)
            },
            // 立即购买
            buyProduct(){

            },
            //获取user
            getUserInfo(){

            },
            //初始化
            initialization() {
                this.getProduct();
                this.getProductConfig();
                this.getProductColor();
            }
        },
        watch: {
            'selectedConfigIndex': function () {
                this.productPrice = this.productConfig[this.selectedConfigIndex].productPrice;
            }
        },
        computed: {
            selectedProduct: function () {
                // 小米6 | 6GB+64GB | 亮黑色
                if (this.product && this.productConfig[this.selectedConfigIndex] && this.productColor[this.selectedColorIndex]) {
                    return this.product.productName +" | "+ this.productConfig[this.selectedConfigIndex].productConfig +" | "+ this.productColor[this.selectedColorIndex].productColor;
                }
                return '';
            }
        },
        mounted: function () {
            this.initialization();
        }
    });
</script>